<template>
<!-- Move chat box to bottom of screen -->
<v-layout
    class="d-flex flex-column-reverse"
    align-center
    style="height: 100%"
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <!-- Have to wrap the f-flex container in a layout to center the div! -->
      <v-layout justify-center align-center>
        <v-flex
          xs5
          class="elevated white pa-4 align-end"
        >
          <v-layout
            v-for="message in messages"
            :key="message.timestamp"
            row
          >
            <!-- Tried reversing flex column direction to here
                 to make it more reader friendly but was unsuccesful :(-->
            <v-flex xs12 flex-column-reverse>
              <v-container>
                <!-- Change color scheme of chat boxes and remove border color for
                     user name below -->
                <v-chip
                  v-if="message.uuid === uuid && userName!==''"
                  text-color="black"
                  color="white"
                  class="float-right"
                  label>
                    <b>{{userName}}</b>
                </v-chip>
                <v-chip
                  v-if="message.uuid === uuid"
                  text-color="primary"
                  outlined
                  color="primary"
                  class="float-right mb-1"
                  label>
                    {{message.text}}
                </v-chip>
                <v-chip
                  v-if="message.uuid !== uuid"
                  text-color="black"
                  color="white"
                  class="float-left"
                  label>
                    <b>{{message.userName}}</b>
                </v-chip>
                <v-chip
                  v-if="message.uuid !== uuid"
                  text-color="white"
                  color="primary"
                  class="float-left mb-1"
                  label>
                    {{message.text}}
                </v-chip>
              </v-container>
            </v-flex>
          </v-layout>
          <v-container>
            Message
            <v-text-field
              label="Type your message here...."
              v-model="currentMessage"
              class="mt-2"
              solo
            />
            Name
            <v-text-field
              label="Enter your user name (optional)"
              v-model="userName"
              class="mt-2"
              solo
            />
            <v-btn
              @click="sendMessage(currentMessage)"
              @keydown.enter.prevent
              @keyup.enter="sendMessage(currentMessage)"
            >
              Send
            </v-btn>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false,
    userName: ""
  }),

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    sendMessage: function(text) {
      if(text==='') return;
      const message = JSON.stringify({
        text,
        uuid: this.uuid,
        userName: this.userName
      })
      this.$socket.send(message)
      this.currentMessage = ''
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
